{% extends "base.html" %}

{% block title %}Správa formulárov{% endblock %}

{% block content %}
<h1 class="mb-4 text-center">Správa formulárov</h1>

<!-- Zobrazte formuláre v dobre štruktúrovanej tabuľke-->
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Názov</th>
            <th>Vytvoreny</th>
            <th>Aktualizovany</th>
            <th>Akcie</th>
        </tr>
    </thead>
    <tbody>
        <!-- Prechádzajte formulármi a zobrazujte ich v riadkoch -->
        {% for form in forms %}
        <tr>
            <td>{{ form.id }}</td>
            <td>{{ form.formular_nazov }}</td>
            <td>{{ form.vytvoreny}}</td>
            <td>{{ form.aktualizovany }}</td>
            <td>
                <!-- Tlačidlo Aktualizovať pomocou formulára so skrytým vstupom -->
                <form method="get" action="{% url 'admin_create_form' form.id %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-sm" value="Upraviť">
                </form>

                <!-- Tlačidlo Odstrániť pomocou formulára so skrytým vstupom-->
                <form method="post" action="{% url 'admin_delete_form' form.id %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger btn-sm" value="Vymazať" onclick="return confirm('Potvrďte akciu:');">
                </form> 
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'admin_create_form' %}" class="btn btn-success">Pridať fomrmulár</a>



{% endblock %}
