{% extends "base.html" %}

{% block title %}Admin Galérie{% endblock %}

{% block content %}
<h1 class="mb-4">Admin Galérie</h1>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Názov galérie</th>
            <th>Názov fomrulára</th>
            <th>Vytvorený</th>
            <th>Aktualizovaný</th>
            <th>Akcie</th>
        </tr>
    </thead>
    <tbody>
        {% for gallery in galleries %}
        <tr>
            <td>{{ gallery.id }}</td>
            <td>{{ gallery.galeria_nazov }}</td>
            <td>{{ gallery.formular.formular_nazov }}</td>
            <td>{{ gallery.vytvoreny }}</td>
            <td>{{ gallery.aktualizovany }}</td>
            <td>
                <a href="{% url 'admin_create_galery' gallery.id %}" class="btn btn-primary btn-sm">Edit</a>

                <form method="post" action="{% url 'admin_delete_galery' gallery.id %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger btn-sm" value="Vymaž" onclick="return confirm('Potvrďte akciu:');">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Odkaz na vytvorenie novej galérie zvyčajne vyžaduje výber formulára, takže na to možno budete potrebovať samostatnú stránku -->
<a href="{% url 'admin_create_galery' %}" class="btn btn-success">Pridaj Galériu</a>

{% endblock %}
