{% extends "base.html" %}

{% block title %}Admin Atribúty{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Admin Atribúty</h1>

    <!-- Zobrazte atribúty v dobre štruktúrovanej tabuľke -->
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Názov</th>
                <th>Typ</th>
                <th>Vytvorený</th>
                <th>Akcie</th>
            </tr>
        </thead>
        <tbody>
            <!-- Prechádzajte atribútmi a zobrazujte ich v riadkoch -->
            {% for attribute in attributes %}
            <tr>
                <td>{{ attribute.id }}</td>
                <td>{{ attribute.nazov }}</td>
                <td>{{ attribute.typ }}</td>
                <td>{{ attribute.vytvoreny }}</td>
                <td>
                    <!-- Tlačidlo Aktualizovať pomocou formulára so skrytým vstupom -->
                    <form method="get" action="{% url 'admin_edit_attribute' attribute.id %}" style="display: inline;">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary btn-sm" value="Edit">
                    </form>

                    <!-- Tlačidlo vymazať pomocou formulára so skrytým vstupom -->
                    <form method="post" action="{% url 'admin_delete_attribute' attribute.id %}" style="display: inline;"  onclick="return confirm('Are you sure?');">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Tlačidlo na prepínanie vstupných polí na pridanie nového atribútu -->
    <button id="addAttributeButton" class="btn btn-success mb-4">Pridať Atribút</button>

    <!-- Vstupné polia na pridanie nového atribútu (na začiatku skryté) -->
    <div id="addAttributeFields" style="display: none">
        <form method="post" action="{% url 'admin_create_attribute' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="nazov">Názov</label>
                <input type="text" class="form-control" id="nazov" name="nazov">
            </div>
            <div class="form-group">
                <label for="typ">Typ</label>
                <select class="form-control" id="typ" name="typ">
                    {% for typ in attribute_types %}
                    <option value="{{ typ }}">{{ typ }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        
    </div>    
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    document.getElementById('addAttributeButton').addEventListener('click', function () {
        const addAttributeFields = document.getElementById('addAttributeFields');
        addAttributeFields.style.display = addAttributeFields.style.display === 'none' ? 'block' : 'none';
    });
</script>
{% endblock %}
