{% extends "base.html" %}
{% load static %}

{% block title %}
  {% if gallery %}Úprava Galérie{% else %}Nová Galéria{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="text-center mb-4">{% if gallery %}Úprava Galérie{% else %}Nová Galéria{% endif %}</h1>
  
  <div class="card">
    <div class="card-body">
      <form method="post" action="{% if gallery.id %}{% url 'admin_create_galery' gallery.id %}{% else %}{% url 'admin_create_galery' %}{% endif %}">
        {% csrf_token %}
        
        <!-- Rozbaľovacia ponuka Výber formulára -->
        <div class="form-group">
          <label for="formSelect">Vyberte Formulár:</label>
          <select id="formSelect" name="form" class="form-control" {% if gallery %}disabled{% endif %}>
            {% for form in forms %}
              <option value="{{ form.id }}" {% if gallery and form == gallery.formular %}selected{% endif %}>
                {{ form.formular_nazov }}
              </option>
            {% endfor %}
          </select>
          {% if gallery %}
            <input type="hidden" name="form" value="{{ gallery.formular.id }}">
          {% endif %}
        </div>
    <label for="formName">Názov Galérie:</label>
    <input type="text" id="GalleryName" name="galeria_nazov" class="form-control mb-3" value="{{ galeria_nazov }}" required>

    <!-- Zapnutie/vypnutie zobrazenia atribútov formulára-->
    <div class="form-attributes">
      <h3>Atribúty Formulára</h3>
      {% if form_attributes %}
        {% for attribute in form_attributes %}
          <div class="form-check custom-checkbox">
            <input class="form-check-input" type="checkbox" id="attribute{{ attribute.id }}"
                    name="attribute_{{ attribute.id }}"
                    value="{{ attribute.id }}"
                    {% if attribute.zobrazit_v_galerii %}checked{% endif %}>
            <label class="form-check-label" for="attribute{{ attribute.id }}">
                {{ attribute.atribut.nazov }}
            </label>
        </div>
      
        {% endfor %}
        {% endif %}

    </div>

    <button type="submit" class="btn btn-success mt-2">
      {% if gallery %}Aktualizuj Galériu{% else %}Vytvor Galériu{% endif %}
    </button>
  </form>
</div>

<style>
  input[type="checkbox"]  {
    display: none;
 }
 
  .custom-checkbox .form-check-input {
    cursor: pointer; 
}

.custom-checkbox .form-check-label {
    cursor: pointer; 
    padding: 0.5rem 1rem; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    margin-bottom: 0; 
    transition: background-color 0.2s, color 0.2s; 
}

.custom-checkbox .form-check-input:checked + .form-check-label {
    background-color: #007bff; 
    color: white; 
}

</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const formSelect = document.getElementById('formSelect');
        formSelect.addEventListener('change', function() {
            const formId = this.value;
            fetchAttributes(formId);
        });
    
        function fetchAttributes(formId) {
            // Použijeme AJAX na načítanie atribútov pre vybratý formulár
            const url = `{% url 'admin_create_galery' %}?form_id=${formId}`;
            fetch(url, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                },
            })
            .then(response => response.json())
            .then(data => {
                updateAttributesList(data.attributes);
            })
            .catch(error => console.error('Error:', error));
        }
        
    
        function updateAttributesList(attributes) {
            const attributesContainer = document.querySelector('.form-attributes');
            attributesContainer.innerHTML = ''; // vymažeme atribúty
            attributes.forEach(attr => {
                const checked = attr.display_in_gallery ? 'checked' : '';
                const attributeRow = `
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="attribute${attr.id}" name="attribute_${attr.id}" value="${attr.id}" ${checked}>
                        <label class="form-check-label" for="attribute${attr.id}">
                            ${attr.nazov} <!-- name -->
                        </label>
                    </div>`;
                attributesContainer.innerHTML += attributeRow;
            });
        }
    });



  $(document).ready(function() {
        showBackButton();
    });

</script>
    

    
{% endblock %}
