{% extends "base.html" %}

{% block title %}Úprava Atribútu{% endblock %}

{% block content %}
    <h1 class="mb-4">Úprava Atribútu</h1>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Názov</label>
            <input type="text" class="form-control" id="nazov" name="nazov" value="{{ atribut.nazov }}">
        </div>
        <div class="form-group">
            <select class="form-control" id="typ" name="typ">
                {% for typ in attribute_types %}
                <option value="{{ typ }}" {% if typ == atribut.typ %}selected{% endif %}>{{ typ }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Aktualizovať Atribút</button>
    </form>
    

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


 <script>
    $(document).ready(function() {
        showBackButton();
    });
 </script>
{% endblock %}