{% extends 'base.html' %}

{% block title %}Aktualizácia užívateľa{% endblock %}

{% block page_title %}Aktualizácia užívateľa{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="type">Meno</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ user1.username }}">
        </div>
        <div class="form-group">
            <label for="type">Heslo</label>
            <input type="text" class="form-control" id="password" name="password" value=""> <!--{{ user1.password }}-->
        </div>
        <div class="form-group">
            <label for="type">Email</label>
            <input type="text" class="form-control" id="email" name="email" value="{{ user1.email }}">
        </div>
        <div class="form-group">
            <label for="role">Rola</label>
            <select class="form-control" id="role" name="role">
                {% for group in groups %}
                    <option value="{{ group.name }}" {% if existing_group and group.name == existing_group.name %}selected{% endif %}>
                        {{ group.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success">Aktualizovať užívateľa</button>
    </form>

 <script>
    $(document).ready(function() {
        showBackButton();
    });
 </script>
{% endblock %}
