{% extends "base.html" %}

{% block title %}Formuláre{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-primary">{{ form_name }}</h1>
    <form method="post" action="{% url 'user_forms_record_add' form_id %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="description" class="font-weight-bold">Opis
            <sub class="text-muted" style="font-size: smaller;">text</sub>
        </label>
        <input type="hidden" name="description" value="">
        <textarea id="formName" name="description" class="form-control mb-3" rows="4"></textarea> <!--required-->
        
        {% for attr in form_attrs %}
            <div class="form-group">
                {% if attr.attr.typ == "obrazok_url" %}
                    <label for="attr_{{ attr.attr.id }}" class="font-weight-bold">{{ attr.attr.nazov }}
                        <sub class="text-muted" style="font-size: smaller;">{{ attr.attr.typ }}</sub>
                    </label>
                    <input type="file" class="form-control-file" id="attr_{{ attr.attr.id }}" name="attr_{{ attr.attr.id }}" accept="image/*" {% if attr.req %}required{% else %}{% endif %}>
                {% else %}
                    <label for="attr_{{ attr.attr.id }}" class="font-weight-bold">{{ attr.attr.nazov }}
                        <sub class="text-muted" style="font-size: smaller;">{{ attr.attr.typ }}</sub>
                    </label>
                    <input type="text" class="form-control" id="attr_{{ attr.attr.id }}" name="attr_{{ attr.attr.id }}" {% if attr.req %}required{% else %}{% endif %}>
                {% endif %}
            </div>
        {% endfor %}

        <div class="form-group">
            <label for="comment" class="font-weight-bold">Comment</label>
            <textarea class="form-control" id="comment" name="comment"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}
