{% extends 'base.html' %}

{% block title %}Detail Záznamu{% endblock %}

{% block content %}

<style>
    .attribute-input {
        max-width: 400px; 
    }
    .comments-section {
        margin-top: 20px;
    }
    .comment-card {
        background-color: #f8f9fa;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 10px;
    }
    .comment-meta {
        font-size: 0.8rem;
        color: #6c757d;
    }
    .add-comment-btn {
        float: right; 
    }
    .attribute-label {
        font-weight: bold;
        margin-bottom: 0;
    }
    .attribute-type {
        font-size: 0.8rem;
        color: #6c757d;
        font-style: italic;
    }

    textarea:readonly {
        border: 1px solid #ccc; 
        background-color: transparent;
    }

    .card-img-placeholder {
        height: 200px; 
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0; 
        color: #666; 
        font-size: 16px;
    }

    .modal-img {
        max-width: 100%;
        height: auto;
    }

    .modal-content {
        position: relative;
        margin: auto;
        width: 80%;
        max-width: 800px;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .modal {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .modal-img.img-center {
        display: block;
        margin: 0 auto;
    }

</style>


    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-4">Detail Záznamu</h2>
        {% if request.session.admin_view or for_user %}
            <a href="{% url 'user_record_delete' record.id %}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Potvrďte vymazanie:');">Vymaž Záznam</a>
        {% endif %}
    </div>
<div class="card mb-4">
    <div class="card-body">
        <!--<h5 class="card-title">Record #{{ record.id }}</h5>-->
        <form method="post" action="{% url 'user_record_update' record.id for_user %}"  enctype="multipart/form-data">
            {% csrf_token %}
            {% if request.session.admin_view or for_user %}
                <div class="form-group attribute-input">
                    <label class="attribute-label">Opis
                        <span class="attribute-type">(text)</span>
                    </label>
                    <textarea id="formName" name="record_description" class="form-control mb-3" rows="4">{{ record.opis }}</textarea> <!--required-->
                </div>
                
                <!-- zobrazenie atribútov a ich hodnôt pre záznam v rôznych prípadoch užívateľov a ich skupín -->

                {% for attribute in form_attributes %}
                {% if attribute.formular_atribut.atribut.typ == "obrazok_url" %}
                    <div class="form-group attribute-input">
                        <label class="attribute-label">{{ attribute.formular_atribut.atribut.nazov }}
                            <span class="attribute-type">({{ attribute.formular_atribut.atribut.typ }})</span>
                        </label>
                        {% if attribute.hodnota %}
                        <img src="{{ attribute.hodnota }}" alt="Uploaded Image" class="img-fluid img-rounded mb-3 mt-3 img-responsive modal-img clickable-image">
                        {% else %}
                        <div class="card-header">
                            <div class="card-img-placeholder">Žiadny obrázok</div>
                        </div>
                        {% endif %}

                        <input type="file" class="form-control-file" id="attrnew_{{ attribute.formular_atribut.atribut.id }}" name="attrnew_{{ attribute.formular_atribut.atribut.id }}" accept="image/*">
                    
                        <!--<input type="text" name="attribute_{{ attribute.id }}" class="form-control" value="{{ attribute.hodnota }}">-->
                    </div>
                {% else %}
                    <div class="form-group attribute-input">
                        <label class="attribute-label">{{ attribute.formular_atribut.atribut.nazov }}
                            <span class="attribute-type">({{ attribute.formular_atribut.atribut.typ }})</span>
                        </label>
                        <input type="text" name="attribute_{{ attribute.id }}" class="form-control" value="{{ attribute.hodnota }}">
                    </div>
                {% endif %}
                    
                {% endfor %}
                <button type="submit" class="btn btn-primary">Ulož zmeny</button>
                {% else %}

                <div class="form-group attribute-input">
                    <label class="attribute-label">Opis
                        <span class="attribute-type">(text)</span>
                    </label>
                    <textarea id="formName" name="record_description" class="form-control mb-3" rows="4" required readonly>{{ record.opis }}</textarea>
                </div>

                {% for attribute in form_attributes %}
                    {% if attribute.formular_atribut.atribut.typ == "obrazok_url" %}
                        <div class="form-group attribute-input">
                            <label class="attribute-label">{{ attribute.formular_atribut.atribut.nazov }}
                                <span class="attribute-type">({{ attribute.formular_atribut.atribut.typ }})</span>
                            </label>
                            {% if attribute.hodnota %}
                            <img src="{{ attribute.hodnota }}" alt="Uploaded Image" class="img-fluid img-rounded mb-3 mt-3 img-responsive modal-img clickable-image">
                            {% else %}
                            <div class="card-header">
                                <div class="card-img-placeholder">Žiadny obrázok</div>
                            </div>
                            {% endif %}
                            <!--<input type="text" name="attribute_{{ attribute.id }}" class="form-control" value="{{ attribute.hodnota }}">-->
                        </div>
                    {% else %}
                        <div class="form-group attribute-input">
                            <label class="attribute-label">{{ attribute.formular_atribut.atribut.nazov }}
                                <span class="attribute-type">({{ attribute.formular_atribut.atribut.typ }})</span>
                            </label>
                            <p class="card-text">{{ attribute.hodnota }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <br><br>
            <small>Formulár: {{ record.formular.formular_nazov }}</small><br>
            <small>Pridal: {{ record.user.username }}</small><br>
            <small>Vytvorený: {{ record.vytvoreny|date:"Y-m-d H:i" }}</small><br>
            <small>Aktualizovaný: {{ record.aktualizovany|date:"Y-m-d H:i" }}</small>
        </form>
    </div>
</div>

    <!-- komentáre, znova rôzne správanie pre rôzne skupiny, povolenia a podobne. -->
    
    <div class="comments-section">
        <h5>Komentáre</h5>
        <div class="comment-card" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; padding-top: 10px;">
            {% for comment in record_comments %}
                <form method="post" action="{% url 'user_record_update' record.id for_user %}">
                {% csrf_token %}
                {% if request.session.admin_view %}
                    <input type="hidden" name="comment_{{ comment.id }}" value="{{ comment.komentar }}">
                    <textarea id="formName" name="comment_{{ comment.id }}" class="form-control mb-3" rows="4" required>{{ comment.komentar }}</textarea>
                    <div class="comment-meta" style="font-size: 0.8em; color: #666;">
                        Komentoval {% if comment.user.username %}{{ comment.user.username }}{% else %} Anonym {% endif %} on {{ comment.vytvoreny|date:"Y-m-d H:i" }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm mt-2">Aktualizovať komentár</button>
                {% elif user.is_authenticated and comment.user == request.user and comment.povoleny_adminom %}
                    <input type="hidden" name="comment_{{ comment.id }}" value="{{ comment.komentar }}">
                    <textarea id="formName" name="comment_{{ comment.id }}" class="form-control mb-3" rows="4" required>{{ comment.komentar }}</textarea>
                    <div class="comment-meta" style="font-size: 0.8em; color: #666;">
                        Komentoval {% if comment.user.username %}{{ comment.user.username }}{% else %} Anonym {% endif %} on {{ comment.vytvoreny|date:"Y-m-d H:i" }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm mt-2">Aktualizovať komentár</button>
                {% elif comment.povoleny_adminom %}
                    <textarea id="formName" name="comment_{{ comment.id }}" class="form-control mb-3" rows="4" required readonly>{{ comment.komentar }}</textarea>
                    <div class="comment-meta" style="font-size: 0.8em; color: #666;">
                        Komentoval {% if comment.user.username %}{{ comment.user.username }}{% else %} Anonym {% endif %} on {{ comment.vytvoreny|date:"Y-m-d H:i" }}
                    </div>
                {% else %}
                    <!-- neschválené správcom/adminom -> nezobrazuje sa -->
                {% endif %}
                </form>
                <div class="btn-group mt-2 mb-5">
                    {% if user.is_authenticated and comment.user == request.user and comment.povoleny_adminom %}
                    <form method="post" action="{% url 'remove_comment' comment.id for_user %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Vymaž komentár</button>
                    </form>
                    {% elif request.session.admin_view %}
                        <form method="post" action="{% url 'remove_comment' comment.id for_user %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Vymaž komentár</button>
                        </form>
                    {% endif %}
                    {% if request.session.admin_view %}
                        <form method="post" action="{% url 'aprove_comment' comment.id for_user %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm ml-2" style="display: {% if request.session.admin_view and not comment.povoleny_adminom %}inline-block{% else %}none{% endif %};">Schváliť komentár</button>
                        </form>
                    {% endif %}
                </div>
            {% empty %}
                <p>žiadne komentáre.</p>
            {% endfor %}
        </div>
    </div>
    {% if record.user != request.user or request.session.admin_view %} <!--  or for_user -->
        <button id="addCommentBtn" class="btn btn-secondary mb-3 add-comment-btn">Pridať komentár</button>
        <div id="commentForm" style="display:none;">
            <form method="post" action="{% url 'user_record_update' record.id for_user %}">
                {% csrf_token %}
                <div class="form-group">
                    {% if request.user.is_authenticated %}
                    <textarea name="comment" class="form-control" placeholder="Sem napíš komentár ..."></textarea>
                    {% else %}
                    <textarea name="commentU" class="form-control" placeholder="Sem napíš komentár ..."></textarea>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Potvrď Komentár</button>
            </form>
        </div>
        {% endif %}


<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Obrázok</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" alt="Record Image" class="img-fluid modal-img clickable-image img-center" id="modalImage">
            </div>
        </div>
    </div>
</div>






<script>
    document.addEventListener('DOMContentLoaded', function() {
        const clickableImages = document.querySelectorAll('.clickable-image');

        clickableImages.forEach(image => {
            image.addEventListener('click', function() {
                const imageUrl = this.src;
                const modalImage = document.getElementById('modalImage');
                modalImage.src = imageUrl;
                $('#imageModal').modal('show');
            });
        });

        $('#imageModal').on('hidden.bs.modal', function() {
            $('#imageModal').modal('hide');
        });
    });


    document.getElementById('addCommentBtn').addEventListener('click', function() {
        var commentForm = document.getElementById('commentForm');
        commentForm.style.display = commentForm.style.display === 'none' ? 'block' : 'none';
    });


    $(document).ready(function() {
        showBackButton();
    });
 
</script>

{% endblock %}
